@using HorsesForCourses.MVC.Models.Account
@model RegisterAccountViewModel


<h1 class="mb-3">Register</h1>

<form asp-controller="Account" asp-action="Register" method="post" asp-antiforgery="true" novalidate>
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" type="email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Pass" class="form-label"></label>
        <input asp-for="Pass" type="password" class="form-control" autocomplete="new-password" />
        <span asp-validation-for="Pass" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PassConfirm" class="form-label"></label>
        <input asp-for="PassConfirm" type="password" class="form-control" autocomplete="new-password" />
        <span asp-validation-for="PassConfirm" class="text-danger"></span>
    </div>

    <div class="mb-3 form-check">
        <input asp-for="AsCoach" class="form-check-input" type="checkbox" />
        <label asp-for="AsCoach" class="form-check-label"></label>
        <span asp-validation-for="AsCoach" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create account</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
